<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="polymer-tweet-header.html">

<dom-module id="polymer-tweet">
  <template>
    <style>
      :host {
        display: block;
      }

      .tweet {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 15px;
      }

      .content {
        margin-bottom: 10px;
      }

      footer {
        color: #6c6c6c;
      }

      a {
        color: #000;
        text-decoration: none;
      }

      img {
        width: 50%;
      }
    </style>
    <div class="tweet">
      <polymer-tweet-header href="[[ userHref ]]"></polymer-tweet-header>
      <div class="content">
        [[ entity.properties.text ]]
      </div>
      <footer>
        [[ entity.properties.updatedAt ]]
      </footer>
    </div>
  </template>

  <script>
    /**
     * `polymer-tweet`
     * A demo component that consumes a siren tweet
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PolymerTweet extends Polymer.Element {
      static get is() {
        return 'polymer-tweet';
      }
      static get properties() {
        return {
          href: {
            type: String
          },
          entity: {
            type: Object
          },
          userHref: {
            type: String,
            computed: '_getUserFromEntity(entity)'
          },
          href: {
            type: String
          }
        };
      }

      // For demo purposes I'm keeping this simple but using a mixin for accessing sub-entities
      // actions, links, etc by rel would be better
      _getUserFromEntity(entity) {
        if( !entity ) {
          return '';
        }

        return  entity.entities.find(e => e.rel === 'rels/user').href;
      }

      ready() {
        super.ready();

        // For demo purposes I'm just setting the data. In practice, you'd use either `iron-ajax`
        // or `fetch` to hit the passed in href and load the data into the entity. 
        this.entity = {
          class: ['tweet'],
          properties: {
            text: 'Here is my tweet',
            updatedAt: '10:16 AM - April 23, 2018'
          },
          entities: [{
            class: ['user'],
            rel: 'rels/user',
            href: 'users/1'
          }],
          links: [{
            rel: ['self'],
            href: `tweets/1`
          }],
          actions: []
        }
      }
    }

    window.customElements.define(PolymerTweet.is, PolymerTweet);
  </script>
</dom-module>