<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="polymer-tweet-header">
    <template>
        <style>
            :host {
                display: block;
            }

            header {
                display: flex;
                line-height: 20px;
                margin-bottom: 5px;
            }

            h1 {
                margin: 0;
                margin-left: -25px;
                font-size: 1.4rem;
            }

            .sub-text {
                display: block;
                font-size: .5em;
                font-weight: 400;
                color: #6c6c6c;
            }

            a {
                color: #000;
                text-decoration: none;
            }

            a:hover {
                color: #00beef;
            }

            img {
                width: 50%;
            }
        </style>
        <header>
            <a href="#">
                <img src$="[[ avatarHref ]]" alt$="[[entity.properties.handle]]">
            </a>
            <h1>
                <a href="#">
                    [[ entity.properties.username ]]
                </a>
                <span class="sub-text">[[ entity.properties.handle ]]</span>
            </h1>
        </header>
    </template>

    <script>
        /**
         * `polymer-tweet-header`
         * A demo component that consumes a siren user and displays a tweet header
         *
         * @customElement
         * @polymer
         * @demo demo/index.html
         */
        class PolymerTweetHeader extends Polymer.Element {
            static get is() {
                return 'polymer-tweet-header';
            }
            static get properties() {
                return {
                    entity: {
                        type: Object,
                    },
                    avatarHref: {
                        type: String,
                        computed: '_getAvatarFromEntity(entity)'
                    },
                    href: {
                        type: String
                    }
                };
            }

            _getAvatarFromEntity(entity) {
                if( !entity ) {
                    return '';
                }

                return entity.properties.avatar;
            }
            ready() {
                super.ready();

                this.entity = {
                    class: ['user'],
                    properties: {
                        username: 'GoHugo.io',
                        handle: '@GoHugoIO',
                        avatar: '/assets/logo-small.jpg'
                    },
                    links: [{
                        rel: ['self'],
                        href: `users/1`
                    }],
                    actions: []
                }
            }
        }

        window.customElements.define(PolymerTweetHeader.is, PolymerTweetHeader);
    </script>
</dom-module>